.navbar, .nav {
	font-family: $primary-font;
	text-transform: uppercase;
	font-weight: 300;
}

.navbar {
	background: $primary-black;
}

.homepage .navbar.sticky-top{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-account {
	a {
		padding: 0 10px;
	}
}

.navbar-primary a{
	color: $primary-white;

	&:hover{
		text-decoration: underline;
	}
}

.navbar .fa-bars{
	color: $primary-white;
}

//.nav
.nav{
	box-shadow: $box-shadow;
	margin-bottom: 60px;
}

.nav-secondary{
	background: $primary-white;
	padding: 30px 0;
}

//homepage nav
.homepage .navbar{
	background: transparent;
}