<footer>
  <div class="footer-top">
    <div class="container">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-linkedin"></i>
    </div>
  </div>
  <div class="container" style="padding:30px; text-align: center;">
    &copy; Test Site | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>

<script src="public/app.bundle.js"></script>

<script>

</script>