<ul class="nav justify-content-center nav-secondary">
  <li class="nav-item">
    <a class="nav-link" href="#">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lessons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Vocabulary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Calendar</a>
  </li>
</ul>