{{> nav}}
{{> navSecondary}}

<div class="homepage container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="border: none;">
        <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
        <div class="card-body">
          <h3>Username</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Virginia Beach, VA USA</li>
            <li class="list-group-item"><strong>English, Japanese</strong></li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Update Image</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="feed card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title">English Slang</h4>
          <h6 class="card-subtitle mb-2 text-muted">Language Tip</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquid repudiandae quo dolores eaque pariatur natus minus iure, nesciunt repellat incidunt sint excepturi nihil placeat blanditiis earum, labore, et laboriosam?</p>
          <a href="#" class="card-link">Read More</a>
          <a href="#" class="card-link">Watch Video</a>
        </div>
        <div class="card-footer text-muted">
          2 hrs ago &bull; Language Tip &bull; English
        </div>
      </div>

      <div class="feed card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title">English Slang</h4>
          <h6 class="card-subtitle mb-2 text-muted">Language Tip</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquid repudiandae quo dolores eaque pariatur natus minus iure, nesciunt repellat incidunt sint excepturi nihil placeat blanditiis earum, labore, et laboriosam?</p>
          <a href="#" class="card-link">Read More</a>
          <a href="#" class="card-link">Watch Video</a>
        </div>
        <div class="card-footer text-muted">
          2 hrs ago &bull; Language Tip &bull; English
        </div>
      </div>

      <div class="feed card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title">English Slang</h4>
          <h6 class="card-subtitle mb-2 text-muted">Language Tip</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquid repudiandae quo dolores eaque pariatur natus minus iure, nesciunt repellat incidunt sint excepturi nihil placeat blanditiis earum, labore, et laboriosam?</p>
          <a href="#" class="card-link">Read More</a>
          <a href="#" class="card-link">Watch Video</a>
        </div>
        <div class="card-footer text-muted">
          2 hrs ago &bull; Language Tip &bull; English
        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          Messages
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">John Doe <p style="color: #aaa;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <a href="#" class="card-link">Reply</a>
          </li>
          <li class="list-group-item">Jane Doe <p style="color: #aaa;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <a href="#" class="card-link">Reply</a>
          </li>
          <li class="list-group-item">John Smith <p style="color: #aaa;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <a href="#" class="card-link">Reply</a>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">View All Messages</a>
        </div>
      </div>

    </div>
  </div>
</div>

{{> footer }}

