{{> nav}}

<div class="{{body}}">

  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-overlay"></div>
    <div class="container">
      <div class="jumbotron-inner">
        <h1>Find Your Voice</h1>
        <p>Learn English by chatting with native speakers around the world.</p>
      </div>
    </div>

  </div>

  <div class="features features-white">
    <div class="container">
      <div class="features-title">
        <h2>Features</h2>
      </div>
      <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        consequat. </div>
        <div class="col-md-4">Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div>
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
      </div>
      
    </div>
  </div>

</div>

{{> footer }}

